KERNEL=="iowarrior*", NAME="usb/iowarrior*", OWNER="pi", MODE="0666", GROUP="plugdev"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="07c0", ATTRS{idProduct}=="1501", MODE="0666"